{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
      <div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span7">
        {% snippet 'home/snippets/promoted.html' %}
      </div>
    </div>
  </div>
</div>
<div id="twitter-feed" class="twitter-bar">
  <div class="container">twitter feed here</div>
</div>
<div role="main">
  <div class="container">
    <h2>{% trans %}Explore by{% endtrans %}</h2>
    <div class="row">
      {% for homepage_page in  h.get_homepage_icons()  %}
         <div class="span3">
             <a class="category-link" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/'+homepage_page.name) }}"><i class="{{ homepage_page.icon }}"></i>{{homepage_page.category}}</a>
         </div>
      {% endfor %}
      <div class="span3">
         <a class="category-link alt" href="#"><i class="icon-map-marker"></i>Location</a>
      </div>
    </div>
    <h2>{% trans %}Latest News{% endtrans %}</h2>
    {% set posts = h.get_recent_blog_posts(3) %}
    <ul class="latest-posts thumbnails">
        {% for post in posts %}
           <li class="span4">
              <span class="post">
                <a class="blog-title" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}">{{ post.title or post.name }}</a>
                <a class="image" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}" style="background-image:url({{ post.image or 'http://placehold.it/290x185' }})"></a>
                <small class="date"> {{ h.render_datetime(post.publish_date) }} </small>
                <span class="text">{{ h.markdown_extract(post.content) }}</span>
                <a class="btn btn-primary" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}"><i class="icon-chevron-right"></i>{% trans %}More{% endtrans %}</a>
              </span>        
           </li>
        {% endfor %}
    </ul>

  </div>
</div>

    {% endblock %}
  </div>
{% endblock %}
