<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span7">
        {% snippet 'home/snippets/promoted.html' %}
      </div>
    </div>
  </div>
</div>
<div id="twitter-feed" class="twitter-bar">
  <div class="container">twitter feed here</div>
</div>
<div role="main">
  <div class="container">
    <h2>{% trans %}Explore by{% endtrans %}</h2>
    <div class="row">
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-book"></i>Literacy</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-group"></i>Attendance</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-user"></i>Teachers</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-bar-chart"></i>Ratios</a>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-star"></i>Quality</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-check"></i>Facilities</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-money"></i>Finance</a>
      </div>
      <div class="span3">
        <a class="category-link alt" href="#"><i class="icon-map-marker"></i>Location</a>
      </div>
    </div>
    <h2>Latest News</h2>
    blog posts here
  </div>
</div>
