<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span7">
        {% snippet 'home/snippets/promoted.html' %}
      </div>
    </div>
  </div>
</div>
<div id="twitter-feed" class="twitter-bar">
  <div class="container">twitter feed here</div>
</div>
<div role="main">
  <div class="container">
    <h2>{% trans %}Explore by{% endtrans %}</h2>
    <div class="row">
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-book"></i>Literacy</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-group"></i>Attendance</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-user"></i>Teachers</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-bar-chart"></i>Ratios</a>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-star"></i>Quality</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-check"></i>Facilities</a>
      </div>
      <div class="span3">
        <a class="category-link" href="#"><i class="icon-money"></i>Finance</a>
      </div>
      <div class="span3">
        <a class="category-link alt" href="#"><i class="icon-map-marker"></i>Location</a>
      </div>
    </div>
    <h2>Latest News</h2>
    {% set posts = h.get_recent_blog_posts(5) %}
    <ul>
        {% for post in posts %}
            <li class="blog-title">
                <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}">{{ post.title or post.name }}</a>
                <small> {{ h.render_datetime(post.publish_date) }} </small>
                {{ h.markdown_extract(post.content) }}
                <img src={{ post.image or 'http://placehold.it/350x150' }}>
            </li>
        {% endfor %}
    </ul>

  </div>
</div>
