
{% if current_dropdown_values %}
   <div class="clearfix">
       {% for filter, current_values in current_dropdown_values.items() %}
       {# check to see if there are dropdown values for this filter otherwise do not display it #}
          {% if dropdown_values.get(filter) %}
              <div class="dashboard-dropdown-container">
                  {{ field_label_mapping[filter] }}:
                  <div class="dashboard-dropdown-values">
                      {% for value in current_values %}
                          <select name="{{filter}}" data-module="dashboard-dropdown">
                              <option></option>
                              {% for dropdown_value in dropdown_values[filter] %}
                                  <option value="{{dropdown_value['id']}}"
                                    {% if dropdown_value['id'] == value %} selected="selected" {% endif %}>
                                    {{dropdown_value['text']}}
                                  </option>
                              {% endfor %}
                          </select>
                      {% endfor %}
                  </div>
              </div>
          {% endif %}
       {% endfor %}
   </div>
{% endif %}
