<ul class="dashboard-grid">
  {% for view in views %}
  <li id={{view.id}} class="box module module-narrow module-shallow" data-row="{{ view.row }}" data-col="{{ view.col }}" data-sizex="{{ view.sizex }}" data-sizey="{{ view.sizey }}" >
      <header class="module-heading">
        <i class="icon-{{ view.icon }}"></i>
        <strong>{{ view.title }}</strong>
        <span class="description">{{ view.description }}{% if not can_edit %}<a class="readmore">More</a>{% endif %}</span>
      </header>
      <div style="overflow: auto; height:{{130 * view.sizey - 55}}px">
      {% if not h.resource_view_is_iframed(view) %}
        {{ h.rendered_resource_view(view, view.resource, view.package) }}
      {% else %}
        {% set src = h.url(qualified=true, controller='package', action='resource_view', id=view.package['name'], resource_id=view.resource['id'], view_id=view['id'])  %}
        <iframe src="{{ src }}" frameborder="0" width="100%" height="{{130 * view.sizey -53}}px">
          <p>{{ _('Your browser does not support iframes.') }}</p>
        </iframe>
      {% endif %}
      </div>
      {% if can_edit %}
        <a href="{{ view.remove_url }}" class="btn btn-danger btn-small remove">{{ _('Remove') }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% resource 'dashboard-view/vendor/jquery.dotdotdot.js' %}
