{% import 'macros/form.html' as form %}
{% resource 'basiccharts/form' %}
{% resource 'basicgrid/main' %}

{% macro filtersInputs(name, selectName, inputName, label='', options='', error='', filters={}, classes=[], attrs={}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
  <div class="basicCharts-filters">
    {% for value in filters['values'] %}
      {% set field = filters['fields'][loop.index0] %}
      {{ selectAndInput(selectName, inputName, selectOptions=options, selected=field, inputValue=value, attrs=attrs) }}
    {% endfor %}
    </div>
    <a href="#" class="basicCharts-addFilter">{{ _('Add Filter') }}</a>
  {% endcall %}
{% endmacro %}

{% macro selectAndInput(selectName, inputName, selectOptions='', selected='', inputValue='', attrs={}) %}
  <div>
  <select id="{{ selectName }}" name="{{ selectName }}" {{ form.attributes(attrs) }}>
    {% for option in selectOptions %}
      <option value="{{ option.value }}"{% if option.value == selected %} selected{% endif %}>{{ option.text or option.value }}</option>
    {% endfor %}
  </select>
  <input type="text" name="{{ inputName }}" value="{{ inputValue }}" />
  <span title="{{ _('Remove Filter') }}" class="basicCharts-removeFilter icon icon-remove"></span>
  </div>
{% endmacro %}

{% macro selectMulti(name, id='', label='', options='', selected=[], error='', classes=[], attrs={}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <select id="{{ id or name }}" name="{{ name }}" {{ form.attributes(attrs) }}>
      {% for option in options %}
        <option value="{{ option.value }}"{% if option.value in selected %} selected{% endif %}>{{ option.text or option.value }}</option>
      {% endfor %}
    </select>
  {% endcall %}
{% endmacro %}

{% set templateFilterInputs = selectAndInput('filter_fields', 'filter_values', selectOptions=fields) %}
{% set filters = { 'fields': resource_view['filter_fields'], 'values': resource_view['filter_values'] } %}

<div
  data-module = "basiccharts_filters_form"
  data-module-template-filter-inputs = "{{ h.remove_linebreaks(templateFilterInputs) }}"
  data-module-filters-selector = ".basicCharts-filters"
  data-module-add-filter-selector = ".basicCharts-addFilter"
  data-module-remove-filter-selector = ".basicCharts-removeFilter"
  data-module-filter-values = "{{ h.dump_json(h.get_filter_values(resource)) }}"
  >
  {{
      filtersInputs('filters', 'filter_fields', 'filter_values',
          label=_('Filters'), options=fields, filters=filters, classes=["control-filters"])
  }}

  {{ form.input('fields', id='field-fields', label=_('Fields'), value=data.fields, error=errors.fields, classes=['control-full'], attrs={'hidden': true, 'data-module': 'basicgrid-multiselect', 'data-module-fields': field_selection }) }}

  {{
      form.select('orientation', 'orientation-field', label=_('Orientation'), selected=(resource_view.orientation or 'horizontal'), options=orientations)
  }}

</div>

