
{% set all_data = h.view_data(resource_view) %}
{% set fields = all_data.fields %}
{% set records = all_data.records %}

<div style="overflow:auto; width:{{(resource_view.sizex or 2) * 150 - 20}}px; height:{{(resource_view.sizey or 2) * 150 - 95}}px" >
<table class="table table-striped table-bordered table-condensed">
    {% if resource_view.orientation == 'vertical' %}
        {% for field in fields %}
            <tr>
                <td> <strong> {{field.id}} </strong> </td>
                {% for row in records %}
                    <td> {{row[field.id]}} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            {% for field in fields %}
                <td> <strong> {{field.id}} </strong> </td>
            {% endfor %}
        </tr>
        {% for row in records %}
            <tr>
                {% for field in fields %}
                    <td> {{row[field.id]}} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
</table>
</div>
