<div class="dashboard-view-edit" data-module="dashboard-view-edit">
  <hr>
  <div class="btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      {{ _('Add widget') }} <span class="caret"></span>
    </a>
    <ul id="dashboard-view-edit-new" class="dropdown-menu">
      {% for view in available_views %}
        <li>
          <a href="#" data-view_id="{{ view.id }}" data-view-sizex="{{ h.resource_view_dimensions(view)['sizex'] }}" data-view-sizey="{{ h.resource_view_dimensions(view)['sizey'] }}">
            <i class="icon-{{ view.icon }}"></i> {{ view.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% snippet "snippets/dashboard_views_list.html", views=current_dashboard, can_edit=true %}
  <input type="hidden" name="json" value="{{ data.get('json', []) }}">
</div>
