.in-preview .dashboard-grid .box {
  cursor: move;
}
.in-preview .dashboard-grid .box:hover:before {
  border: solid 5px #fbba19;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
}
.in-preview .dashboard-grid .preview-holder {
  position: absolute;
  background-color: #fffee6;
  border: 1px solid #fffcb3;
  z-index: 1;
  border-radius: 3px;
}
.in-preview .dashboard-grid li.box .remove {
  display: block;
}
.dashboard-grid {
  margin-left: -10px;
  padding: 0;
  list-style-type: none;
}
.dashboard-grid .box-inner {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.dashboard-grid .box-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dashboard-grid li.box {
  position: absolute;
  margin: 0;
  padding: 0;
  box-shadow: none;
  z-index: 2;
}
.dashboard-grid li.box .module-heading {
  border-radius: 3px 3px 0 0;
}
.dashboard-grid li.box .module-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.dashboard-grid li.box .description {
  display: block;
}
.dashboard-grid li.box .module-heading {
  display: block;
  height: 60px;
  padding-bottom: 4px;
  padding-top: 10px;
}
.dashboard-grid li.box .remove {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}
.dashboard-grid li.box .box-inner {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.dashboard-grid li.box .box-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dashboard-view-edit .module {
  margin-bottom: 0;
}
.dashboard-view-edit .input-button {
  height: 24px;
  left: 3px;
  position: relative;
}
.dashboard-dropdown-container {
  margin-bottom: 1em;
}
.dashboard-dropdown-container .dashboard-dropdown-values .select2-container {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  width: 200px;
}
.dashboard-dropdown-container .dashboard-dropdown-values .select2-container .select2-search-choice-close {
  left: auto;
}
.dashboard-dropdown-container .dashboard-dropdown-values .select2-container .select2-chosen:empty + .select2-search-choice-close {
  visibility: hidden !important;
}
