<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <div class="attribution">
        {% block footer_attribution %}
          <p><small>{% trans %}Website powered by &nbsp;</small><a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
      </div>
      <ul class="logos">
        <li><img src="/ukaid.png" alt=""/></li>
        <li><img src="/alifailaan.png" alt=""/></li>
        <li><img src="/sdpi.png" alt=""/></li>
        <li><img src="/aser.png" alt=""/></li>
        <li><img src="/isaps.png" alt=""/></li>
        <li><img src="/ita.png" alt=""/></li>
        <li><img src="/sahe.png" alt=""/></li>
      </ul>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
