[depends]

main = base/main
form = base/main

[groups]

main =
    scripts/dashboard-view.js
    styles/dashboard-view.css

    vendor/jquery.dotdotdot.js
    vendor/jquery.gridster.css
    vendor/jquery.gridster.with-extras.js
    vendor/jquery.gridster.js

form =
    scripts/dashboard-view-edit.js
    styles/dashboard-view-edit.css
