.dashboard-grid {
  margin: 10px -10px;
  padding: 0;
  list-style-type: none;
}
.dashboard-grid li.box {
  position: absolute;
  margin: 0;
  padding: 0;
  box-shadow: none;
  z-index: 2;
}
.dashboard-grid li.box .module-heading {
  border-radius: 3px 3px 0 0;
}
.dashboard-grid li.box .module-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.dashboard-view-edit .module {
  margin-bottom: 0;
}
.dashboard-view-edit button[name="preview"] {
  display: none;
}
.dashboard-view-edit .dashboard-grid .box {
  cursor: move;
}
.dashboard-view-edit .dashboard-grid .box:hover {
  border-color: #005d7a;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
}
.dashboard-view-edit .dashboard-grid .preview-holder {
  position: absolute;
  background-color: #fffee6;
  border: 1px solid #fffcb3;
  z-index: 1;
  border-radius: 3px;
}
